<footer>
    <div class="footerContent">
        <div class="footerBox">
            <div class="footerLogo">
                <div class="branding">
                    <img src="/images/titleIcon.png" width="95px" alt="">
                    <p>FitHub</p>
                    <small>journey to your wellness...</small>
                </div>
                <div class="socials">

                    <a href="https://www.facebook.com/bbhuwan.joshi.07" target="_blank"><img
                            src="/images/socials/facebook.svg" alt=""></a>
                    <a href="https://www.instagram.com/acharya8560" target="_blank"><img
                            src="/images/socials/instagram.svg" alt=""></a>
                    <a href="https://twitter.com/Partime_Thinker" target="_blank"><img src="/images/socials/x.svg"
                            alt=""></a>
                    <a href="https://www.linkedin.com/in/bbhuwanjoshi/" target="_blank"><img
                            src="/images/socials/linkedin.svg" alt=""></a>
                    <a href="https://www.youtube.com/channel/UCQXzLraalu2_IMg9rrMccbA" target="_blank"><img
                            src="/images/socials/youtube.svg" alt=""></a>
                </div>

            </div>
            <div class="footerInfo">
                <div class="aboutProducts footerSection">
                    <p class="footerHeading">Product</p>
                    <ul class="footerLists">
                        <li>Features</li>
                        <li>Pricing</li>
                        <li>Reviews</li>
                    </ul>
                </div>
                <div class="aboutCompany footerSection">
                    <p class="footerHeading">Company</p>
                    <ul class="footerLists">
                        <li>About</li>
                        <li>Contact Us</li>
                        <li>Blog</li>
                    </ul>
                </div>
                <div class="aboutSupport footerSection">
                    <p class="footerHeading">Support</p>
                    <ul class="footerLists">
                        <li>Getting Started</li>
                        <li>Help Center</li>
                    </ul>
                </div>
                <div class="aboutContact footerSection">
                    <p class="footerHeading">Contact Us</p>
                    <div class="contactList">
                        <div class="email">
                            <img src="/images/socials/email.svg" width="12px" class="contactImg">
                            <span>bbhuwanjoshi21@gmail.com</span>
                        </div>
                        <div class="phone">
                            <img src="/images/socials/phone.svg" width="12px alt="" class=" contactImg">
                            <span>+977 9866536757</span>
                        </div>
                        <div class=" location">
                            <img src="/images/socials/location.svg" width="12px alt="" class=" contactImg">
                            <span>Sanepa-2, Lalitpur, Nepal</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" seperationLine"></div>
    <div class="copyright">
        <p>Copyright &copy; 2023 | All Right Reserved</p>
    </div>
</footer>
<script src="/javascripts/script.js"></script>
</body>

</html>