 <% include ./partials/header.ejs %>
 <main>
    <div class="main">
        <p>Meet our Team</p>
        <div class="contentBox">
            <div class="memberBox">
                <img src="/images/bhuwan.jpg" alt="">
                <div class="intro">
                    <p class="memberName">Bhuwan Prasad Joshi</p>
                    <p>BE Computer II/II</p>
                    <p>Everest Engineering College</p>
                </div>

            </div>
            <div class="memberBox">
                <img src="/images/anish.jpg" alt="">
                <div class="intro">
                    <p class="memberName">Anish Acharya</p>
                    <p>BE Computer II/II</p>
                    <p>Everest Engineering College</p>
                </div>

            </div>
            <div class="memberBox">
                <img src="/images/anuj.jpg" alt="">
                <div class="intro">
                    <p class="memberName">Anuj Bhattrai</p>
                    <p>BE Computer II/II</p>
                    <p>Everest Engineering College</p>
                </div>

            </div>
            <div class="memberBox">
                <img src="/images/chetan.jpg" alt="">
                <div class="intro">
                    <p class="memberName">Chetan Babu Bhat</p>
                    <p>BE Computer II/II</p>
                    <p>Everest Engineering College</p>
                </div>

            </div>
        </div>
    </div>
    <div class="content">
        <p>About Our Project</p>
        <p class="projectIntro">&emsp14;<strong>FitHub</strong>(journey to your wellness), a general approach to promote proper lifestyle by blending health and strength through workout, diet and meditations. As we live busy lives, we cannot focus on our health. The challenge of maintaining a proper lifestyle can be facilitated by the use of technology. Our Web application offers users a single platform for taking good care of their physical as well as mental health. All the  features included here are to help the users to achieve a good lifestyle so that they can enjoy their life with their loved ones.</p>
        <p class="projectObjectives"></p>
    </div>
</main>

<% include ./partials/footer.ejs %>