<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/titleIcon.png">
    <title>FitHub | Journey to your wellness.</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/about-us.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/index.css">


</head>

<body>
    <header>
        <nav>
            <div class="logo"><a href="/"><img src="/images/logo.png" alt="" srcset=""></a></div>
            <ul class="navList hideOnMobile">
                <li><a href="/" class="navBtn">Home</a></li>
                <li><a href="/aboutus" class="active">About Us</a></li>
                <li><a href="/blogs" class=" navBtn ">Blogs</a></li>
            </ul>
            <div class="loginReg hideOnMobile">
                <a href="/login"><button>Login</button></a>
                <a href="/register"><button>Register</button></a>
            </div>
            <div class="theme hideOnMobile">
                <img src="/images/moon.svg" class="themeDark">
            </div>
            <div class="dropMenuBars hideOnScreen">
                <img src="/images/menu.svg" alt="" id="dropMenuIcon">
            </div>
        </nav>
        <div class="dropDown">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <a href="/login" class="dropDownBtn"><button>Login</button></a>
            <a href="/register" class="dropDownBtn"><button>Register</button></a>
            <div>
                <img src="/images/moon.svg" class="themeDark">
            </div>
        </div>
    </header>
    <main class="h-[55vh] w-full flex justify-center items-center">
        <div class="hero font-semibold text-2xl"> Comming Soon...</div>

    </main>

    <% include ./partials/footer.ejs %>