<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout | FitHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../stylesheets/diet-info.css" />
</head>

<body>
    <div class="sideBar">
        <div class="dashboard">
            <div class="logo">
                <img src="../images/titleIcon.png" width="95px" alt="" />
                <div class="branding">
                    <p>FitHub</p>
                    <small>journey to your wellness...</small>
                </div>
            </div>

            <div class="subDashboard hideOnPhone">
                <a href="/dashboard/profile">
                    <div class="profile modules">
                        <img src="../images/dashboardImages/profile.png" width="42px" alt="" />
                        <h2 class="moduleName">Profile</h2>
                    </div>
                </a>

                <a href="/dashboard/workout">
                    <div class="workout modules">
                        <img src="../images/dashboardImages/workout.png" width="42px" alt="" />
                        <h2 class="moduleName">Workout</h2>
                    </div>
                </a>

                <a href="/dashboard/diet-info">
                    <div class="diet modules">
                        <img src="../images/dashboardImages/dietInfo.png" width="42px" alt="" />
                        <h2 class="moduleName">Dietary Infomation</h2>
                    </div>
                </a>
                <a href="/dashboard/meditation">
                    <div class="meditation modules">
                        <img src="../images/dashboardImages/meditation.png" width="42px" alt="" />
                        <h2 class="moduleName">Meditaion</h2>
                    </div>
                </a>

                <a href="/dashboard/progress-tracker">

                    <div class="tracker modules">
                        <img src="../images/dashboardImages/tracker.png" width="42px" alt="" />
                        <h2 class="moduleName">Progress Tracker</h2>
                    </div>
                </a>
                <div class="logout">
                    <img src="../images/dashboardImages/logout.svg" alt="" />
                    <a href="/logout"><p class="moduleName">Logout</p></a>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="topBar">
            <div class="mobileLogo hideOnPc">
                <div class="dropDownBars">
                    <img class="dropDownBarsIcon" src="../images/menu.svg" alt="" />
                    <div class="dropDownMenu hidden">
                        <div class="phoneLogo">
                            <img src="../images/titleIcon.png" width="95px" alt="" />
                            <div class="branding">
                                <p>FitHub</p>
                                <small>journey to your wellness...</small>
                            </div>
                        </div>
                        <div class="profile modules">
                            <img src="../images/dashboardImages/profile.png" width="42px" alt="" />
                            <h2 class="moduleName">Profile</h2>
                        </div>
                        <div class="workout modules">
                            <img src="../images/dashboardImages/workout.png" width="42px" alt="" />
                            <h2 class="moduleName">Workout</h2>
                        </div>
                        <div class="diet modules">
                            <img src="../images/dashboardImages/dietInfo.png" width="42px" alt="" />
                            <h2 class="moduleName">Dietary Infomation</h2>
                        </div>
                        <div class="meditation modules">
                            <img src="../images/dashboardImages/meditation.png" width="42px" alt="" />
                            <h2 class="moduleName">Meditaion</h2>
                        </div>
                        <div class="tracker modules">
                            <img src="../images/dashboardImages/tracker.png" width="42px" alt="" />
                            <h2 class="moduleName">Progress Tracker</h2>
                        </div>
                        <div class="logoutPhone">
                            <img src="../images/dashboardImages/logout.svg" alt="" />
                            <a href="/logout"><p class="moduleName">Logout</p></a>
                        </div>
                    </div>
                </div>
                <img class="mobileTitleIcon" src="../images/titleIcon.png" alt="" width="50px" />
            </div>
            <div class="userIntro">
                <div class="userName"><%= user.username %></div>
                <div class="userImage">
                    <img src="/images/dashboardImages/profileicon.png" alt="" />
                </div>
            </div>
        </div>
        <div class="mainContent">
            <div class="dietInfoContent">
                <div class="dietInfoHeading">
                    <h2>Read the food items based on your plan</h2>
                </div>
                <div class="dietInfoPreference">
                    <div class="boxes">
                        <div class="weightLoss">
                            <div class="weightLossImg"></div>
                            <div class="weightLossContent">
                                <h2>Weight Loss</h2>
                                <p>Eggs</p>
                                <p>Nuts and Seeds</p>
                                <p>Leafy Greens: Kale, Spinach</p>
                                <p>Fish</p>
                                <p>Cruciferous vegetables: Broccoli, Cauliflower, Cabbage</p>
                                <p>Chicken Breasts</p>
                                <p>Beans and Legumes</p>
                                <p>Soups</p>

                            </div>

                        </div>
                        <div class="musclesGain">
                            <div class="musclesGainImg"></div>
                            <div class="musclesGainContent">
                                <h2>Muscle Gain</h2>
                                <p>Lean Meat</p>
                                <p>Dairy products</p>
                                <p>Fish</p>
                                <p>Whole grains</p>
                                <p>Whey protein</p>
                                <p>Tofu</p>
                                <p>Tuna</p>
                                <p>Chicken Breasts</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../javascripts/dashboard.js"></script>
    <script src="../javascripts/bmi.js"></script>

</body>

</html>