<% include ./partials/header.ejs %>
    <div class="gradiant">
        <img src="/images/Ellipse.svg" alt="" srcset="">
    </div>
    <main>
        <div class="mainContainer">
            <div class="companyIntro">
                <div class="mainContent">
                    <p>One Stop Solution</p>
                    <p>for your wellness.</p>
                    <a href="/register"><button class="getStarted">Get Started</button></a>
                </div>
            </div>
            <div class="mainPicture">
                <img src="/images/mainPicture.png" alt="">
            </div>
        </div>

        <div class="featuresBox">
            <div class="featureWeProvide">
                <p>FEATURES WE PROVIDE</p>
            </div>
            <div class="featureContent">
                <div class="bmi">
                    <div class="bmiTitle">
                        <span>Calculate BMI</span>
                        <img src="/images/bmi.svg" alt="">
                    </div>
                    <p class="featureDescription">Calculate your BMI index from data like age, height, weight.</p>
                </div>
                <div class="dietAdvice">
                    <img src="/images/dietAdvice.png" width="53px" alt="">
                    <p class="featureTitle">Diet Advice</p>
                    <p class="featureDescription">Suitable dietery information according to your fitness plan.</p>
                </div>

                <div class="dailyProgress">
                    <img src="/images/dailyProgress.png" width="43px">
                    <p class="featureTitle">Daily Progress</p>
                    <p class="featureDescription">Save and look back your daily progress.</p>
                </div>

                <div class="workout">
                    <img src="/images/workout1.png" alt="" width="43px">
                    <img src="/images/workout2.png" alt="" width="43px">
                    <img src="/images/workout3.png" alt="" width="43px">
                    <p class="featureTitle">Workout & Meditation</p>
                    <p class="featureDescription">Meditation and Workouts, at your preferable time.</p>
                </div>
            </div>
        </div>

        <div class="blogsBox">
            <div class="blogHeading">
                <p>Blogs</p>
            </div>
            <div class="blogsContent">

                <div class="blog">
                    <img src="/images/workout1.png" alt="">
                    <p class="blogTitle">Benefits of Exercise</p>
                    <p class="blogDescription">Exercise is very essential for our overall health.</p>
                </div>
                <div class="blog">
                    <img src="/images/workout3.png" alt="">
                    <p class="blogTitle">Benefits of Meditation</p>
                    <p class="blogDescription">Meditation is considered ancient technique for</p>
                </div>
                <div class="blog">
                    <img src="/images/weightLose.jpg" alt="">
                    <p class="blogTitle">How to loose weight?</p>
                    <p class="blogDescription">Loosing weight is always been a big question among..</p>
                </div>
                <div class="blog">
                    <img src="/images/muscleGain.jpg" alt="">
                    <p class="blogTitle">How to Gain Muscles?</p>
                    <p class="blogDescription">Gaining Muscles is like a dream come true for many..</p>
                </div>

            </div>

        </div>
    </main>

    <% include ./partials/footer.ejs %>