* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    ---primaryColor: #F3F3FD;
    ---secondaryColor: black;
    ---btncolor: white;
    ---thirdColor: white;
}

.darkTheme {
    ---primaryColor: black;
    ---secondaryColor: white;
    ---btncolor: white;
    ---thirdColor: black;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(---primaryColor);
    font-family: 'Inter', sans-serif;
    ;
}

nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 67px;
    /* border: 2px solid black; */
    flex-direction: row;
    justify-content: space-around;
}

.logo {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid red; */
    height: 67px;
    min-width: 20%;
}

.logo img {
    width: 215px;
    cursor: pointer;
    overflow: hidden;
}

.navList {
    padding: 0 5vw;
    /* border: 2px solid blue; */
    height: 67px;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.navList li {
    padding: 0px 15px;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: var(---secondaryColor);

}

.navList li a {
    text-decoration: none;
    color: var(---secondaryColor);
    position: relative;
}

.active{
    border-bottom: 2.5px solid #1678F2;
    width: 100%;
    padding-bottom: 4.4px;

}
.navBtn::after {
    content: "";
    width: 0;
    height: 2px;
    background: #1678F2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s;
}

.navBtn:hover::after {
    width: 100%;
}

.loginReg {
    overflow: hidden;
    padding: 0px 15px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 11px;
    gap: 10px;
    width: 20%;
    height: 67px;
}

.loginReg button,
.getStarted {
    background: linear-gradient(90deg, #3A8EF6 0%, #6F3AFA 95.69%);
    padding: 6px 17px;
    font-weight: 500;
    color: var(---btncolor);
    border-radius: 6px;
    border: none;
    font-size: 1.4vw;
    cursor: pointer;
    text-align: center;

}

.theme {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid red; */
    width: 46px;
    height: 67px;

}

.theme img {
    cursor: pointer;
}

.dropDown {
    padding: 25px 0;
    position: absolute;
    right: 0px;
    max-width: 255px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 60vw;
    gap: 10px;
    display: none;
    backdrop-filter: blur(20px);
    border-radius: 15px;

}

.dropDown li {
    padding: 0px 15px;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(---secondaryColor);
    cursor: pointer;
    list-style: none;
}

.dropDown li a {
    text-decoration: none;
    color: var(---secondaryColor);
}

.open {
    display: flex;
}

.hideOnScreen {
    display: none;
}

.dropDownBtn {
    width: 100%;
}

.dropDownBtn button {
    background: linear-gradient(90deg, #3A8EF6 0%, #6F3AFA 95.69%);
    padding: 9px 17px;
    font-weight: 500;
    color: var(---btncolor);
    border-radius: 6px;
    border: none;
    font-size: 1.9vw;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.dropMenuBars {
    max-width: 90vw;
    float: right;
}

footer {

    background-color: var(---thirdColor);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8vw;
    /* align-items: center; */
}

.footerContent {
    border-radius: 15px;
    /* border: 2px solid red; */
    min-width: 100%;
    display: flex;
    justify-content: center;

}

.footerBox {
    padding-top: 15px;
    display: flex;
    /* border: 2px solid black; */
    gap: 25px;
    justify-content: center;
    margin-bottom: 15px;
}

.footerLogo,
.branding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 15vw;
    /* border: 2px solid black; */
}

.footerLogo {
    gap: 14px;
}

.branding p {
    background: linear-gradient(90deg, #3A8EF6 0%, #6F3AFA 95.69%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 1.6rem;
}

.branding small {
    background: linear-gradient(90deg, #3A8EF6 0%, #6F3AFA 95.69%);
    background-clip: text;
    color: transparent;
    font-size: 0.6rem;
    font-style: italic;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footerInfo {
    padding-top: 35px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 20vh 20vh 20vh 35vh;
    gap: 35px;
}

.footerInfo ul li {
    list-style: none;
    font-size: 0.7rem;
}

.footerHeading {
    display: flex;
    gap: 25px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #1678F2;
}

.footerSection {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footerLists,
.contactList {
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: var(---secondaryColor);
    cursor: pointer;
    /* border: 2px solid black; */
}

.aboutContact span {
    font-size: 0.7rem;
}

.aboutContact {
    min-width: 25vh;
}

.seperationLine {
    border: 1px solid rgb(185, 177, 177);
    margin: 5px 15vw;
    max-width: 70vw;
}

.copyright p {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    color: var(---secondaryColor);
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;
    }
    .footerBox {
        gap: 2px;
        flex-direction: column;
        min-width: 90%;
        align-items: center;
        justify-content: center;
        /* border: 2px solid purple; */

    }

    .footerInfo {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        padding-top: 20px;
        min-width: 100%;
        row-gap: 25px;
        /* border: 2px solid purple; */

    }

    .footerSection {
        align-items: center;
        justify-content: center;
        /* text-align: center; */
        gap: 7px;
        /* border: 3px solid purple; */
    }

    .aboutContact span {
        font-size: 0.6rem;
    }

    .contactList {
        padding-left: 20px;
        gap: 7px;
    }

}