* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html body {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: white;
    display: flex;
}

.sideBar {
    z-index: 10;
    background-color: #d7d7ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 20vw;
    /* border: 2px solid black; */
    position: sticky;
    justify-content: space-between;
    padding-bottom: 35px;
    padding-left: 2vw;


}

.dashboard {

    /* border: 2px solid black; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
}

.subDashboard {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 0.8rem;

}

.subDashboard a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.logo {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;

}

.logo {
    width: 5vw;
    /* border: 2px solid black; */
}

.logo img {
    object-fit: cover;
    width: 100%;

}

.branding {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: max-content;
    /* border: 2px solid black; */

}

.branding p {
    background: linear-gradient(90deg, #3A8EF6 0%, #6F3AFA 95.69%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 1.4rem;
}

.branding small {
    background: linear-gradient(90deg, #3A8EF6 0%, #6F3AFA 95.69%);
    background-clip: text;
    color: transparent;
    font-size: 0.4rem;
    font-style: italic;
}

.modules {
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 7px;
    /* border: 2px solid red; */
    padding: 15px;
    text-decoration: none;

}

.modules img {
    width: 30px;
}

.modules h2 {
    font-size: 0.9em;
    text-decoration: none;
}



.logout {
    padding: 15px;
    /* border: 2px solid red; */
    cursor: pointer;
    /* padding-left: 2vw; */
    display: flex;
    gap: 10px;
    margin-top: 16vh;
    position: absolute;
    bottom: 20px;
}


.topBar {
    background-color: #d7d7ff;
    border-radius: 7px;
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
    display: flex;
    /* height: 10vh; */
    margin-left: 1vh;
    padding: 5px 2vw;

}

.topBar .mobileLogo {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;

}

.userIntro {

    gap: 10px;
    /* border: 2px solid red; */
    display: flex;

}

.userName {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.userImage {
    border-radius: 50%;
    /* border: 2px solid black; */
    /* width: 45px; */
    overflow: hidden;
    height: 7vh;

}

.userImage img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

main {
    width: 100vw;

}

.mainContent {
    padding-left: 15px;
    background-color: #d7d7ff;
    margin-top: 5px;
    border-radius: 15px;
    margin-left: 15px;
    padding-bottom: 5vh;

}

.profileContent {
    /* padding-left: 15px; */
    /* border: 2px solid red; */
    background-color: #d7d7ff;
    margin-top: 5px;
    border-radius: 15px;
    margin-left: 5px;
    display: flex;
    padding-bottom: 15px;
    min-height: calc(100vh - 10vh);

}

.profileContent .image {
    padding-top: 15px;
    margin-left: -55px;
    /* border: 2px solid red; */
    height: 80vh;

}

.profileContent .image img {
    height: 100%;
}

.bmi {
    /* border: 2px solid red; */
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    /* border: 2px solid red; */
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.box1 {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;

}

.box1>p {
    font-size: 1.5rem;
}

.bmiContent {
    /* border: 2px solid red; */
    padding: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.bmiContent h3 {
    display: flex;
    gap: 9px;
    font-size: 2rem;
}

.bmiNumber {
    font-size: 3rem;
    font-weight: 700;
}

.bmiContent h5 {
    font-size: 0.9rem;
    color: rgb(106, 106, 106);
}

.meter {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;


}

.underWeightLine {
    width: 100%;
    border: 2px solid yellow;


}

.normalLine {
    width: 100%;
    border: 2px solid green;


}

.overWeightLine {
    width: 100%;
    border: 2px solid orange;


}

.obeseLine {
    width: 100%;
    border: 2px solid red;


}

.subindex p {
    padding: 0 25px 0 0;
    /* padding: 15px; */
    font-size: 1em;
}

.subindex {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.topBar .hideOnPc {
    display: none;
}

.dropDownMenu {
    /* padding-top: 3vh; */
    position: absolute;
    min-height: 100vh;
    width: 50vw;
    /* border: 2px solid black; */
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    transition: all ease 5sec;
}

.dropDownMenu .phoneLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    margin-bottom: 2vh;
}

.dropDownMenu .phoneLogo .branding {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropDownMenu .phoneLogo .branding p {
    font-size: 2rem;
    text-decoration: none;
}

.dropDownMenu .phoneLogo .branding small {
    font-size: 0.8rem;
}

.dropDownMenu .logoutPhone {
    margin-top: 1vh;
    display: flex;
    padding-left: 6vw;
    gap: 4vw;
    font-weight: 700;
}

.hidden {
    display: none;
}

.open {
    display: flex;
}

@media (max-width:800px) {


    .logo img {
        /* border: 2px solid red; */
        z-index: 100;
        /* width: 8vw; */
    }

    .profileContent .image {
        /* border: 2px solid red; */
        justify-content: center;
        display: flex;
        align-items: center;
        height: 55vh;
    }

    .dashboard {
        display: none;
    }

    .dropDown {
        display: block;
    }

    .sideBar {
        display: none;
    }

    .topBar {
        width: 100vw;
        margin: 0;
        border-radius: 0;
        justify-content: space-between;
    }

    .mainContent {
        /* border: 2px solid red; */
        margin: 0;
        padding: 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;

    }

    .profileContent {
        width: 100vw;
        /* border: 2px solid red; */
        flex-direction: column;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }


    .box h3 {
        font-size: 1.5rem;
    }

    .meter {
        max-width: 85vw;
        padding-left: 2vw;
        /* border: 2px solid red; */
        padding-bottom: 5vh;
    }

    .meter p {
        font-size: 0.7rem;

    }

    .hideOnePhone {
        display: none;
    }

    .topBar .hideOnPc {
        display: flex;
    }

}