main {
    position: relative;
    /* border: 2px solid black; */
    /* height: calc(100vh - 130px); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    color: var(---secondaryColor);

}

.gradiant img {
    position: absolute;
}

.gradiant img:first-child {
    /* border: 2px solid red; */
    position: absolute;
    top: -20px;
    width: 35vw;
    height: 90vh;
}

.gradiant img:nth-child(3) {
    position: absolute;
    width: 35vw;
    /* border: 2px solid red; */
    top: 40%;
    height: 60vh;
}

.gradiant img:nth-child(2) {
    position: absolute;
    top: 25vh;
    width: 35vw;
    /* border: 2px solid red; */
    right: -15vw;
    height: 20vh;
}


.registerMainContentBox {
    border: 1px solid #bfbfc2;
    box-shadow: 0px 0px 5px 2.5px;
    border-radius: 9px;
    /* width: min(35%, 29vw); */
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    overflow: hidden;
    padding: 15px;

}

.registerMainContentBox>p {
    margin-top: 10px;
    font-size: max(2vw, 100%);
    font-weight: 600;

}

.registerForm {
    padding-right: 15px;
    width: 100%;
    gap: 13px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.registerForm input {
    background-color: #EAF0F7;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;

}

.registerForm #email,
.registerForm #fullName {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

#age {
    grid-column: 1/1;
}

#password {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

#gender {
    background-color: #EAF0F7;
    color: rgb(113, 112, 112);
    border: none;
}

.registerHere {
    /* text-align: center; */
    width: 100%;
    font-size: 0.7rem;
    margin: 15px 0px;

}

.registerHere a {
    text-decoration: none;
    font-weight: bold;
    color: var(---secondaryColor);
}

.register {
    width: 100%;
}

.register input {
    font-size: 1rem;
    padding: 5px 15px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #4461F2;
    color: white;
    font-weight: 500;
}

.seperation p {
    font-size: 0.7rem;
}

.seperation {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.line {
    width: 25%;
    border: 0.1px solid var(---secondaryColor);
}

.loginOptions {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding-top: 15px;
    /* width: min(100%, 50vh); */
}

.loginOptions img {
    width: 20%;
}